body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
}

header {
    background-color: #1f1f1f;
    color: #e0e0e0;
    padding: 20px;
    border-bottom: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Archivo Black', sans-serif;
}

.header-icon {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.header-icon img {
    width: 100%;
    height: auto;
}

h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #1c1c1c;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

h1, h2 {
    margin: 0;
    color: #e0e0e0;
}

form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    background: #2c2c2c;
    color: #e0e0e0;
    font-size: 16px;
}

button {
    background-color: #333;
    color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 1.5s ease;
}

button:active {
    background-color: #00ff00; /* Green */
}

#generator {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 8px;
    background: #2c2c2c;
    box-shadow: 0 0 15px rgba(255,255,255,0.5);
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px rgba(255,255,255,0.3);
    }
    to {
        box-shadow: 0 0 20px rgba(255,255,255,0.7);
    }
}

#result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    background: #1c1c1c;
}

#result-text {
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace;
}

#how-to {
    margin-top: 40px;
}

#how-to h2 {
    color: #e0e0e0;
}

#how-to p {
    margin-bottom: 20px;
}

#how-to ol {
    margin: 0;
    padding: 0 20px;
    list-style-type: decimal;
}

#how-to li {
    margin-bottom: 20px;
}

.instruction-image {
    margin-top: 10px;
}

.instruction-image img {
    max-width: 100%;
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

h3 {
    margin-top: 0;
    color: #e0e0e0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #1f1f1f;
    color: #e0e0e0;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-family: 'Lilita One', cursive;
}

footer a {
    color: #e0e0e0;
    text-decoration: none;
    transition: text-shadow 0.3s ease;
}

footer a:hover {
    text-shadow: 0 0 10px #0388fc, 0 0 20px #0388fc, 0 0 30px #0388fc, 0 0 40px #0388fc, 0 0 50px #0388fc;
}

footer a span {
    display: inline-block;
    transition: text-shadow 0.3s ease;
}

footer a span:nth-of-type(1) {
    color: #0388fc; /* Glow color for "Made with" */
}

footer a span:nth-of-type(2) {
    color: #7303fc; /* Glow color for "by MagicGamer" */
}

footer a span:hover:nth-of-type(1) {
    text-shadow: 0 0 10px #0388fc, 0 0 20px #0388fc, 0 0 30px #0388fc, 0 0 40px #0388fc, 0 0 50px #0388fc;
}

footer a span:hover:nth-of-type(2) {
    text-shadow: 0 0 10px #7303fc, 0 0 20px #7303fc, 0 0 30px #7303fc, 0 0 40px #7303fc, 0 0 50px #7303fc;
}
